<div class="carousel-area">

    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="config"
        >

        <div ngxSlickItem *ngFor="let slide of images" class="slide">
            <img class="img" src="{{slide.path}}" alt="{{slide.alt}}">
        </div>

    </ngx-slick-carousel>
    <div class="button-area">
        <button class="btn-prev" (click)="prev()">prev</button>
        <button class="btn-next" (click)="next()">next</button>        
    </div>

    <div class="divisor"></div>

    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="config"
        >

        <div ngxSlickItem *ngFor="let slide of images" class="slide">
            <img class="img" src="{{slide.path}}" alt="{{slide.alt}}">
        </div>

    </ngx-slick-carousel>
    <div class="button-area">
        <button class="btn-prev" (click)="prev()">prev</button>
        <button class="btn-next" (click)="next()">next</button>        
    </div>

    <div class="divisor"></div>

    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="config"
        >

        <div ngxSlickItem *ngFor="let slide of images" class="slide">
            <img class="img" src="{{slide.path}}" alt="{{slide.alt}}">
        </div>

    </ngx-slick-carousel>
    <div class="button-area">
        <button class="btn-prev" (click)="prev()">prev</button>
        <button class="btn-next" (click)="next()">next</button>        
    </div>

    <div class="divisor"></div>


    <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="config"
        >

        <div ngxSlickItem *ngFor="let slide of images" class="slide">
            <img class="img" src="{{slide.path}}" alt="{{slide.alt}}">
        </div>

    </ngx-slick-carousel>
    <div class="button-area">
        <button class="btn-prev" (click)="prev()">prev</button>
        <button class="btn-next" (click)="next()">next</button>        
    </div>





</div>

