<div class="carousel-area">

    <div class="slider-container" *ngFor="let carousel of carousels">

        <ul class="title">{{carousel.title}}
            <li class="ver-tudo">Ver tudo<i class="bi bi-caret-right-fill"></i></li>
        </ul>

        <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="config">

            <div ngxSlickItem *ngFor="let slide of images" class="slide">
                <img class="img" src="{{slide.path}}" alt="{{slide.alt}}">
            </div>        
        </ngx-slick-carousel>

        <div class="button-area">
            <button class="btn-prev" id="{{carousel.id}}" (click)="prev()"><i class="bi bi-chevron-left"></i></button>
            <button class="btn-next" id="{{carousel.id}}" (click)="next()"><i class="bi bi-chevron-right"></i></button>        
        </div>
        
        <div class="space"></div>
        
    </div>


</div>

