<div class="area">
    <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{slide.img}}" alt="" width="190px">
        </div>

    </ngx-slick-carousel>
    <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{slide.img}}" alt="" width="190px">
        </div>

    </ngx-slick-carousel>
    <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{slide.img}}" alt="" width="190px">
        </div>

    </ngx-slick-carousel>
    <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{slide.img}}" alt="" width="190px">
        </div>

    </ngx-slick-carousel>
    <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{slide.img}}" alt="" width="190px">
        </div>

    </ngx-slick-carousel>
    <style>
      .carousel{
          margin-bottom: 100px;
      }
        .slide{
            border-radius: 10px;
        }
    </style>
</div>

<!-- nav Jquery scripts -->