<header class="header">

    <video class="bg-video" src="../../../assets/videos/Interestelar - Trailer Oficial 3 (dub) [HD].mp4" autoplay="true">

    </video>

    <div class="container-title">
        <img class="title" src="../../../assets/img/interstellar-logo.png" alt="movie-title">
    </div>

    <nav class="main-menu">
        <img src="../../../assets/img/netflix-logo-5.png" width="130px" alt="brand">
        <div class="nav-bar">
            <ul class="main-lista">
                <li class="list-item">home</li>
                <li class="list-item">filmes</li>
                <li class="list-item">series</li>
                <li class="list-item">em alta</li>
            </ul>
        </div>
    </nav>  
    
    
    
</header>
<div class="area">

</div>

<!-- nav Jquery scripts -->