<header class="main-banner">
    <nav class="main-menu" id="menu"> <!-- ou second-menu -->

        <img src="../../../assets/img/netflix-logo-5.png" class="brand" width="100px" alt="brand">

        <ul class="main-list"> <!-- ou second-list -->
            <li class="list-item" *ngFor="let menu of menuItens"><a>{{menu.item}}</a></li>
        </ul>

        <div class="rigth-list">
            <i class="bi bi-search"></i>
            <li class="infantil-link"><a>Infantil</a></li>
            <i class="bi bi-bell-fill"></i>
            <div class="nav-perfil-box">
                <img src="../../../../assets/img/perfil.png" class="perfil-img" alt="perfil-img">
            </div>
        </div>

    </nav>
</header>

<div class="container-title">
    <img class="title" src="../../../assets/img/interstellar-logo.png" alt="movie-title">
    <div class="assistir-more">
        <button class="btn btn-light">Assistir</button>
        <button class="btn btn-secondary">Mais informações</button>
    </div>
</div>

<div class="video-area">
    <video class="bg-video" src="../../../assets/videos/Interestelar - Trailer Oficial 3 (dub) [HD].mp4" autoplay="true"></video>
</div>