<header class="header">
    <nav class="main-menu" id="menu"> <!-- ou second-menu -->

        <img src="../../../assets/img/netflix-logo-5.png" class="brand" width="90px" alt="brand">

        <ul class="main-list">
            <li class="list-item" *ngFor="let menu of menuItens"><a>{{menu.item}}</a></li>
        </ul>

        <div class="dropdown-box">
            <ul class="mobile-list">
                <li class="mobile-list-item">
                    <a (click)="navegarclick()">Navegar
                        <i class="bi bi-caret-down-fill" id="mobile-icon"></i>
                    </a>
                </li>
            </ul>
            <div class="mobile-menu" id="mobile-menu">
                <div class="detail">
                    <div class="line"></div>
                </div>
                <li class="mobile-list-item" *ngFor="let menu of menuItens">{{menu.item}}</li>
            </div>
        </div>
        
        <div class="rigth-list">

            <i class="bi bi-search"></i>
            <li class="list-item infantil" id="infantil"><a>Infantil</a></li>
            <i class="bi bi-bell-fill"></i>
            
            <div class="nav-perfil-box">
                <img src="../../../../assets/img/perfil.png" class="perfil-img" alt="perfil-img">
            </div>

        </div>
        
    </nav>
</header>

